* {
    margin: 0;
	padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body {
    height: 100%;
    width: 100%;  
}

div {
    color: #ffffff;
}

.root-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/bg.jpg);
}

.top {
    color: #FF9302;
}

.bottom {
    color: #F00000;
}

.test_section {
    margin: 10px 0px;
    width: 100%;
    color: #ffffff;
}

div.test_section a {
    font-size: 15px;
}